/anytostr.c
/asnprintf.c
/dup-safer-flag.c
/fd-safer-flag.c
/fdopen.c
/float+.h
/float.c
/float.in.h
/fpucw.h
/gnulib.mk
/hash-pjw.c
/hash-pjw.h
/imaxtostr.c
/init.sh
/inttostr.c
/inttostr.h
/itold.c
/localename.c
/localename.h
/macros.h
/offtostr.c
/pipe.c
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/putenv.c
/setenv.c
/setlocale.c
/signature.h
/size_max.h
/snprintf.c
/symlink.c
/test-alloca-opt.c
/test-argmatch.c
/test-binary-io.c
/test-binary-io.sh
/test-bitrotate.c
/test-btowc.c
/test-btowc1.sh
/test-btowc2.sh
/test-c-ctype.c
/test-c-strcase.sh
/test-c-strcasecmp.c
/test-c-strncasecmp.c
/test-chdir.c
/test-cloexec.c
/test-close.c
/test-ctype.c
/test-dirent-safer.c
/test-dirent.c
/test-dup-safer.c
/test-dup.c
/test-dup2.c
/test-environ.c
/test-errno.c
/test-exclude.c
/test-exclude1.sh
/test-exclude2.sh
/test-exclude3.sh
/test-exclude4.sh
/test-exclude5.sh
/test-exclude6.sh
/test-exclude7.sh
/test-exclude8.sh
/test-fchdir.c
/test-fcntl-h.c
/test-fcntl-safer.c
/test-fcntl.c
/test-fdopen.c
/test-fdopendir.c
/test-fgetc.c
/test-float.c
/test-fnmatch.c
/test-fpending.c
/test-fpending.sh
/test-fputc.c
/test-fread.c
/test-fstat.c
/test-fstatat.c
/test-fwrite.c
/test-getcwd-lgpl.c
/test-getdtablesize.c
/test-getopt.c
/test-getopt.h
/test-getopt_long.h
/test-gettimeofday.c
/test-hash.c
/test-i-ring.c
/test-iconv-h.c
/test-iconv.c
/test-ignore-value.c
/test-init.sh
/test-intprops.c
/test-inttostr.c
/test-inttypes.c
/test-isatty.c
/test-isblank.c
/test-iswblank.c
/test-langinfo.c
/test-locale.c
/test-localeconv.c
/test-localename.c
/test-lseek.c
/test-lseek.sh
/test-lstat.c
/test-lstat.h
/test-malloc-gnu.c
/test-malloca.c
/test-mbrtowc-w32-1.sh
/test-mbrtowc-w32-2.sh
/test-mbrtowc-w32-3.sh
/test-mbrtowc-w32-4.sh
/test-mbrtowc-w32-5.sh
/test-mbrtowc-w32.c
/test-mbrtowc.c
/test-mbrtowc1.sh
/test-mbrtowc2.sh
/test-mbrtowc3.sh
/test-mbrtowc4.sh
/test-mbscasecmp.c
/test-mbscasecmp.sh
/test-mbsinit.c
/test-mbsinit.sh
/test-mbsrtowcs.c
/test-mbsrtowcs1.sh
/test-mbsrtowcs2.sh
/test-mbsrtowcs3.sh
/test-mbsrtowcs4.sh
/test-mbsstr1.c
/test-mbsstr2.c
/test-mbsstr2.sh
/test-mbsstr3.c
/test-mbsstr3.sh
/test-memchr.c
/test-memrchr.c
/test-nl_langinfo.c
/test-nl_langinfo.sh
/test-open.c
/test-open.h
/test-openat-safer.c
/test-openat.c
/test-pathmax.c
/test-pipe.c
/test-quotearg-simple.c
/test-quotearg.h
/test-read.c
/test-realloc-gnu.c
/test-regex.c
/test-setenv.c
/test-setlocale1.c
/test-setlocale1.sh
/test-setlocale2.c
/test-setlocale2.sh
/test-snprintf.c
/test-stat.c
/test-stat.h
/test-stdbool.c
/test-stddef.c
/test-stdint.c
/test-stdio.c
/test-stdlib.c
/test-strerror.c
/test-striconv.c
/test-string.c
/test-strnlen.c
/test-strtoimax.c
/test-strtoll.c
/test-strtoull.c
/test-strtoumax.c
/test-symlink.c
/test-symlink.h
/test-sys_stat.c
/test-sys_time.c
/test-sys_types.c
/test-sys_wait.h
/test-time.c
/test-unistd.c
/test-unsetenv.c
/test-update-copyright.sh
/test-vasnprintf.c
/test-vc-list-files-cvs.sh
/test-vc-list-files-git.sh
/test-verify.c
/test-verify.sh
/test-version-etc.c
/test-version-etc.sh
/test-wchar.c
/test-wcrtomb-w32-1.sh
/test-wcrtomb-w32-2.sh
/test-wcrtomb-w32-3.sh
/test-wcrtomb-w32-4.sh
/test-wcrtomb-w32-5.sh
/test-wcrtomb-w32.c
/test-wcrtomb.c
/test-wcrtomb.sh
/test-wctype-h.c
/test-wcwidth.c
/test-xalloc-die.c
/test-xalloc-die.sh
/test-xstrtoimax.c
/test-xstrtoimax.sh
/test-xstrtol.c
/test-xstrtol.sh
/test-xstrtoul.c
/uinttostr.c
/umaxtostr.c
/unsetenv.c
/vasnprintf.c
/vasnprintf.h
/xsize.c
/xsize.h
/zerosize-ptr.h
